@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 179 71% 91%;
    --secondary-foreground: 203 89% 24%;
    --muted: 47 100% 94%;
    --muted-foreground: 215 16% 46%;
    --accent: 291 59% 78%;
    --accent-foreground: 260 31% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 221 22% 90%;
    --input: 217 17% 93%;
    --ring: 222 84% 36%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 222 17% 28%;
    --sidebar-primary: 268 100% 70%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 41 95% 82%;
    --sidebar-accent-foreground: 24 91% 36%;
    --sidebar-border: 210 20% 95%;
    --sidebar-ring: 187 47% 58%;
  }

  .dark {
    --background: 230 25% 8%;
    --foreground: 210 40% 98%;
    --card: 235 20% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 232 13% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 227 20% 21.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 260 6% 18%;
    --accent-foreground: 210 40% 98%;

    --destructive: 355 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 218 16% 22%;
    --input: 220 12% 22%;
    --ring: 220 60% 45%;

    --radius: 1rem;

    --sidebar-background: 232 19% 13%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-smoothing: antialiased;
    background: linear-gradient(130deg, #ffe3ed 0%, #f6f9fb 70%, #ffffff 100%);
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-xl bg-white/70 border border-white/30 shadow-xl rounded-2xl;
  }
}
